/* Nav bar */
.navbar-brand{
  width: 15%;
}
.navbar-nav{
width: 400px;
font-size: 1.2rem;
font-family: 'Permanent Marker', cursive;
color: #000;
}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}





/* Headings */

.first_heading{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 6.6rem;
  margin-bottom: 0px;
  height: 170px;
  font-stretch: expanded;

}
.second_heading{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
padding-top: 10px;
margin-bottom: 0px;
}

/* Container holding the image and text */
.first {
  position: relative;
  text-align: center;
  color: #000;
}

/* Centered text */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About section */

.about_first{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;


}

.about_second{
  font-family: 'Rowdies', cursive;
text-align: left;
font-size: 1.5rem;
font-weight: bolder;
}
